/* You can add global styles to this file, and also import other style files */

html, body { 
    display: flex;
    justify-content: center;   
    height: 100%; 
}
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

p, h1, h2, h3 {
    text-align: center;
}

h3 {
    margin-top: 0;
    margin-bottom: 0;
}

footer {
    text-align: center;
}

app-root {
    max-height: 80%;
    display: flex;
    flex-direction: column;
}

app-list-manager {
    height: 100%;
}

app-todo-item {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
mat-form-field {
    width: 300px;
}

app-type-chart {
    margin-top: 20px;
}
.mat-mdc-form-field-infix {
    display: flex;
}
.main {
    height: 100%;
    width: 100%;
    padding: 2rem;
    border: 1px solid black;
}

.input-btn-component {
    display: flex;
    justify-content: center;
}